*{
  padding:0;
  margin:0;
}
.content {
  width:98vw;
  flex-grow: 1;
  overflow-y: scroll;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgba(30,144,255,0.3);
}
.content .about{
  max-width: 900px;
  margin: 20px auto;
  padding: 40px;
}
.userInfo{
  position:relative;
  height:500px;
}
.userInfo img{
  position:absolute;
  left:40%;
  top:10%;
  border-radius:50%;
  display: block;

}
.userInfo ul{
  list-style: none;
  display: flex;
 justify-content: center;
 text-align: center;
 height:20%;
  width:80%;

  position:absolute;
  top:60%;
  left:10%;
  justify-content: center;
  padding-bottom:5%;
  border-bottom:1px solid #ccc;

}
.userInfo ul li{
  flex-grow: 1;
  border-left: 1px solid rgba(0,0,0,0.1);




}
.userInfo ul li:first-child{
  border-left:none;
}
user-repos {
  margin-top: 50px;
  margin-bottom: 30px;
  border-top: 1px solid rgba(0,0,0,0.1);

}
 .user-repos  li {
   padding :2% 4%;

  list-style:none;
  border-bottom: 1px solid rgba(0,0,0,0.1);

}
 .user-repos  li  div {
  display: flex;
  justify-content: space-between;


}
 .user-repos li .name {
  font-size: 16px;
  font-weight: 500;
  color: #00bcd4;
}
 .user-repos li  .desc {
  font-size: 15px;
}
 .user-repos li  .lang {
  font-size: 14px;
}
.post-content{
  margin-left:40px;
}
h4{
  color:red;
}
.square{
  width:50vw;
  height:50vw;
  background-color:black;
}

@media screen and (min-width:320px) {
  .work-container{
    display: flex;
    width:100%;
    max-width: 1140px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 10px;
    margin: 30px auto;
    justify-content: space-between;
    align-items: flex-start;

  }
  .work-container .card{
    margin: 10px 0;


  }

}
@media screen and (min-width:600px) {
  .work-container{
    flex-direction: row;
  }
  .work-container .card{
    width:49%;



  }
  .work-container img{
    height:40vh ;

  }
}

@media screen and (min-width:1120px) {
  .work-container .card{
    width:32%;


  }

}
